body {
    position: relative;
    background-color: rgb(40, 65, 136);
    color: #999;
    color: rgba(255, 255, 255, 0.6);
    font-family: 'Source Sans Pro';
    font-weight: 400;
    text-align: center;
}

h3 {
    border-color: rgb(86, 200, 253);
    border-style: solid;
}